@import url('https://fonts.googleapis.com/css?family=Exo|Rubik:500&display=swap');

:root {
     --darkBlue: rgb(9, 18, 31);
     --navbarColor: rgb(9, 18, 31);
     --btnColor: rgb(9, 18, 31);
     --btnHoverColor: rgb(14, 28, 48);
     --searchBorder: 1px rgba(196, 196, 196, .7) solid;
     --savedItemsBorder: 1px rgb(91, 91, 91) solid;
     --navbarBorder: 3px #333 solid;
     --darkGray: #333;
}

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Exo', sans-serif;
}

body {
     background: var(--darkGray);
}



#navbar {
     height: 170px;
     background: var(--navbarColor);
     border: var(--navbarBorder);
}

#greet-logout {
     display: flex;
     margin-top: 10px;
     padding-left: 5px;
     padding-right: 5px;
     justify-content: space-between;
     align-content: center;
}

#addItem{
     display: flex;
     margin: 15px 0 15px 0;
     justify-content: space-evenly;
     align-content: center;
}

#items {
     display: flex;
     justify-content: center;
}

.welcome {
     color: #fff;
     font-size: 22px;
}


.new-item-title,
.new-item-isle {
     height: 35px;
     width: 110px;
     border: var(--searchBorder);
     border-radius: 5px;
     font-size: 15px;
     padding-left: 7px;
     background: var(--darkGray);
     color: #fff;
     outline: none;
     margin: 10px;
}

.new-item-btn {
     font-size: 13px;
     padding: 0 5px;
     height: 35px;
     width: 70px;
     border-radius: 20px;
     cursor: pointer;
     color: #fff;
     background: var(--btnColor);
}

.openbtn {
     width: 100%;
     font-size: 15px;
     cursor: pointer;
     background: var(--navbarColor);
     color: white;
     padding: 10px 15px;
     border-radius: 5px;
}


.btn {
     font-size: 17px;
     height: 30px;
     width: 100px;
     cursor: pointer;
     color: #fff;
     border-radius: 5px;
     background: var(--btnColor);
     outline: none;
     transition: all 0.2s ease-out;
}

.btn:hover {
     background: var(--btnHoverColor);
     transform: scale(1.05);
}

.btn:active {
     transform: scale(.98);
}


#container {
     margin: auto;
}
 
 
#sidebar {
     height: 100%; 
     width: 0; 
     position: fixed; 
     z-index: 1; 
     top: 0;
     left: 0;
     background-color: #111; 
     overflow-x: hidden; 
     padding-top: 60px; 
     transition: 0.5s;
}

#sidebar .savedItems {
     color: #fff;
}

#sidebar .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
}


.saved-item {
     display: flex;
     align-items: center;
     padding: 2px;
     background: var(--darkBlue);
     border: var(--savedItemsBorder);
     text-decoration: none;
     margin: 4px;
     transition: all 0.1s ease-out;
}

.selected {
     color: red;
     text-decoration: line-through;
     opacity: 0.4;
}

.saved-item:hover {
     transform: scale(1.01);
}

.item-info {
     padding-left: 5px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;
     cursor: pointer;
}

.item-title {
     text-transform: capitalize;
     font-size: 22px;
     color: #fff;
     padding-right: 5px; 
}

.isle-number {
     color: #fff;
     font-size: 14px;
     font-style: italic;
     padding-right: 5px;
}

#selected-items-container {
     overflow: auto;
     background: var(--darkGray);
}

.selected-items {
     overflow: auto;
}
     

.selected-item {
     display: flex;
     align-items: center;
     padding: 2px;
     background: var(--darkBlue);
     border: var(--savedItemsBorder);
     text-decoration: none;
     margin: 4px;
     cursor: pointer;
     transition: all 0.1s ease-out;
     width: 90%;
}

.selected-item-info {
     margin-left: 5px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;
}

.selected-item-title {
     text-transform: capitalize;
     font-size: 25px;
     color: #fff;
}
.selected-isle-number {
     color: #fff;
     font-size: 15px;
     font-style: italic;
     padding-right: 5px;
} 

/* ------------------------------------- */
/* LOGIN */

.login-form {
     width: 300px;
     margin: 0 auto;
     font-family: Tahoma, Geneva, sans-serif;
}
.login-title {
     text-align: center;
     color: #4d4d4d;
     font-size: 24px;
     padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"]  {
     width: 100%;
     padding: 15px;
     margin-bottom: 15px;
     font-size: 17px;
     box-sizing:border-box;
     background: rgb(83,91,99);
     border: none;
     border-radius: 10px;
     outline: 0;
     color: #fff;
}

.login-form input[type="password"]::placeholder,
.login-form input[type="text"]::placeholder,
.login-form input[type="email"]::placeholder {
     color: rgb(128, 128, 128);
}

.login-form input[type="submit"] {
     width: 100%;
     padding: 15px;
     margin-bottom: 10px;
     font-size: 17px;
     background-color: rgb(64, 69, 75);
     border: none;
     border-radius: 10px;
     box-sizing: border-box;
     cursor: pointer;
     font-weight: bold;
     color: #fff;
     outline: 0;
}

.link-container {
     display: flex;
     justify-content: center;
}

.link {
     color: #fff;
}

.return-to-login {
     color: #fff;
     text-transform: uppercase;
     text-decoration: none;
     background: #4d4d4d;
     padding: 15px;
     border-radius: 35px;
     display: inline-block;
     border: none;
     transition: all 0.4s ease 0s;
     outline: 0;
}

.login-error {
     font-size: 26px;
     text-align: center;
     color: #4d4d4d;
     padding: 20px 0 20px 0;
}

