<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/style.css">
	<title>Home</title>
</head>

<body>
	<section id="container">
		<nav id="navbar">
			<form class="search" action="/loadStore" , method="GET">
				<input type="text" class="search-field" placeholder="Select Store" name="savedStore">
				<button class="btn" id="submit" type="submit">Load Store</button>
			</form>
		</nav>

		<div id="saved-items-container">
			<ul class="saved-items-list">
			</ul>
		</div>

		<div class="selected-items">
			<form action="/newItem" , method="POST">
				<input type="text" class="new-item-title" placeholder="Item Title.." name="title">
				<input type="text" class="new-item-isle" placeholder="Isle Number.." name="isle">
				<input type="text" class="new-item-isle" placeholder="Store" name="store">
				<button class="new-item-btn" type="submit">Add Item</button>
			</form>
			<section id="selected-items-container">
				<ul class="selected-items-list">

				</ul>
			</section>
		</div>

	</section>
</body>
<script src="./client.js"></script>

</html>