<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="../css/style.css">
     <title>Login Error</title>
</head>

<body>
     <div class="login-form">
          <h1 class="login-error">You Are Not Logged In</h1>
          <div class="link-container">
               <a class="return-to-login" href='/'>Login In Here</a>
          </div>
     </div>
</body>

</html>